<h1>Admin::Dashboard#show</h1>
<h4>
<%= link_to  "#{@product_count} products", [:admin, :products], class: 'btn btn-info' %>
<%= link_to  "#{@category_count} Categories", [:admin, :products], class: 'btn btn-info' %>

</h4>
