
<section class="about">
<h1>About</>

<p  class="h5">
we offer a verraity of trees. Our team of experts is ready to share their knowledge 
and help you choose the perfect trees for your landscape. 
Whether you are a seasoned gardener or a novice with a green thumb, 
we are here to make your tree-planting journey a delightful and educational experience. 
Join us in this arboreal adventure, and let's grow together.
</p>

</section>



